code_example/vendor/
code_example/.php-cs-fixer.php
code_example/.php-cs-fixer.cache
code_example/.php-cs-fixer.dist.php
code_example/composer.json
code_example/composer.lock
code_example/phpstan.dist.neon
.DS_Store
